* {
	margin: 0px;
	padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
body {
	height: 100vh;
	width: 100vw;
}
#wrapper {
	height: 100%;
	width: 100%;
}

#container-left {
    padding: 4px;
    height: 100%;
    background-color: #1E1E1E;
    color: #969F9F;
}

#sectionVariableChange {
    margin: 3px;
}
.div-ContainerChangeField {
	width: 100%;
	overflow: hidden;

}
.div-TitleChangeField {
	float:left;
	height: 100%;	
    padding-top: 4px;
    color: #EFC436;
}
.div-ChangeField {
	overflow:hidden;
	flex-grow: 1;
}
.input-ChangeField {
    margin: 3px;
    width: 100%;
    border: 1px #333333;
    background-color: #444444;
}
#sectionSectionToggle {
    color: #79abff;
}
.checkbox-class {
    margin-top: 3px;
}

#container-right {
    padding: 4px;
    height: 100%;
    background-color: #1E1E1E;
    overflow: auto;
}
pre, code {
    white-space: pre;
}

#output-box {
	/* overflow: auto; */
    white-space: pre;
    width: 100%;
    height: 100%;
    border: none;
    color: #879294;
}

.highlightSections {
    color: #79abff;
}
.highlightVariables {
    color: #EFC436;
}
.highlightRemoved {
    color: #D25252;
}
.highlightLines {
    color: #d5e6e9;
}
.highlightComment {
    color: #7FB347;
}
.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-vertical {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.gutter.gutter-horizontal {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.split, .gutter.gutter-horizontal {
    float: left;
}
.split, .gutter.gutter-horizontal {
    height: 100%;
}

.clearLeft {
	clear: left;
}



